################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/threadpool/.vs/threadpool
/threadpool/bin/Debug/net5.0
/threadpool/obj
